<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xml:lang="en" lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1251"/>
    <title>Title</title>
    <style type="text/css">
        TABLE {
            border-collapse: collapse; /* Убираем двойные линии между ячейками */
        }

        p {
            margin-top: 0.0em; /* Отступ сверху */
            margin-bottom: 0.0em; /* Отступ снизу */
        }
    </style>
</head>
<body>
<div th:insert="header"></div>

<center>

    <a th:href="@{/saveBlog}" th:text="#{new.blog}"></a>
    <a th:href="@{/deliteBlog/{blogId}(blogId=${blog.getId()})}" th:text="#{blog.delite.blog}"></a>
    <p></p>

    <h2 th:text="#{blog.edit.blog}"></h2>
    <form th:action="@{/addBlog/{blogId}/(blogId=${blog.getId()})}" method="post" th:object="${blog}">
        <p><b th:text="#{blog.name}"></b></p>
        <p><textarea rows="1" cols="90" input type="text" th:field="*{title}"></textarea></p>
        <p><b th:text="#{blog.content}"></b></p>
        <p><textarea rows="20" cols="90" input type="text" th:field="*{text}"></textarea></p>
        <p><input type="submit" th:value="#{save}"/></p>
    </form>

    <h3></h3>

    <form th:action="@{/addExistingBlogToExistingCategory/{blogId}/(blogId=${blog.getId()})}" method="post">
        <table border="1" width="30%" cellpadding="5">
            <tr>
                <th colspan="1" th:text="#{add.blog.to.category}"></th>
                <th colspan="1" th:text="#{blog.add}"></th>
            </tr>
            <tbody>
            <tr>
                <td>
                    <select id="name" name="name">
                        <option th:each="a : ${allCategories}"
                                th:value="${a.getEnumCategory()}"
                                th:text="${#strings.capitalize(#strings.toLowerCase(a.getEnumCategory()))}"></option>
                    </select>
                </td>
                <td><input type="submit" th:value="#{blog.add}"/></td>
            </tr>
            </tbody>
        </table>
    </form>

    <h3></h3>

    <form th:action="@{/deliteExistingBlogFromExistingCategory/{blogId}/(blogId=${blog.getId()})}" method="post">
        <table border="1" width="30%" cellpadding="5">
            <tr>
                <th colspan="1" th:text="#{blog.delite.from.category}"></th>
                <th colspan="1" th:text="#{delite}"></th>
            </tr>
            <tbody>
            <tr>
                <td>
                    <select id="name2" name="name2">
                        <option th:each="a : ${allCategoriesByBlogId}"
                                th:value="${a.getEnumCategory()}"
                                th:text="${#strings.capitalize(#strings.toLowerCase(a.getEnumCategory()))}"></option>
                    </select>
                </td>
                <td th:if="${not allCategoriesByBlogId.empty}">
                    <input type="submit" th:value="#{delite}"/>
                </td>
            </tr>
            </tbody>
        </table>
    </form>


</center>
</body>

</html>