<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xml:lang="en" lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1251"/>
    <title>Title</title>
    <style type="text/css">

        TABLE {
            width: 70%; /* Ширина таблицы */
            border-collapse: collapse; /* Убираем двойные линии между ячейками */
        }

        TD, TH {
            padding: 3px; /* Поля вокруг содержимого таблицы */
            text-align: center; /* Выравнивание по левому краю */
        }

        p {
            margin-top: 0.0em; /* Отступ сверху */
            margin-bottom: 0.0em; /* Отступ снизу */
        }
    </style>
</head>
<body>
<div th:insert="header"></div>

<center>
    <h3 th:text="#{blogs}"></h3>
    <table border="1" width="80%" cellpadding="5">
        <thead>
        <tr>
            <th colspan="1" th:text="#{blog.name}"></th>
            <th colspan="1" th:text="#{blog.date}"></th>
            <th colspan="1" th:text="#{blog.auther}"></th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="a : ${allBlogsInCategory}">
            <td><a th:href="@{/readBlog/{blogId}(blogId=${a.getId()})}" th:text="${a.getTitle()}"></a></td>
            <td th:text="${#temporals.format (a.getCreationDate(), 'dd-MM-yyyy HH:mm')}"></td>
            <td><a th:text="${a.getUser().name}"></a></td>
        </tr>
        </tbody>
    </table>

</center>
</body>
</html>