<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xml:lang="en" lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <style type="text/css">
        TABLE {
            border-collapse: collapse; /* Убираем двойные линии между ячейками */
        }

        p {
            margin-top: 0.0em; /* Отступ сверху */
            margin-bottom: 0.0em; /* Отступ снизу */
        }
    </style>

</head>
<body>
<div th:insert="header"></div>


<center>

    <p><b th:text="#{blog.name}"></b></p>
    <p><textarea rows="1" cols="90" disabled th:text="${myBlog.getTitle()}"></textarea></p>
    <p><b th:text="#{blog.content}"></b></p>
    <p><textarea rows="20" cols="90" disabled th:text="${myBlog.getText()}"></textarea></p>
    <p><b th:text="#{blog.date}"></b></p>
    <p><textarea rows="1" cols="20" disabled
                 th:text="${#temporals.format (myBlog.getCreationDate(), 'dd-MM-yyyy HH:mm')}"></textarea></p>

    <h3></h3>

    <form th:action="@{/saveComment/{blogId}/(blogId=${myBlog.getId()})}" method="get">
        <p><b th:text="#{comments}"></b></p>
        <p><textarea rows="3" cols="90" input type="text" id="text" name="text"></textarea></p>
        <p><input type="submit" th:value="#{save}"/></p>
    </form>

    <h3></h3>

    <h4 th:text="#{comments}"></h4>
    <table border="1" width="30%" cellpadding="5">
        <tbody>
        <tr th:each="a : ${allCommentsByBlogId}">
            <td><a th:text="${a.getUser().name}"></a>
                <a>, </a>
                <a th:text="${#temporals.format (a.getCreationDate(), 'dd-MM-yyyy HH:mm')}"> </a>

                <a>, </a>
                <a th:text="${a.getComment()}"> </a>
            </td>
            <td>
                <a th:if="${a.getUser().name.equals(userName) or a.getBlog().getUser().name.equals(userName)}">
                    <a th:href="@{/deliteComment/{commentId}/(commentId=${a.getId()})}" th:text="#{delite.comment}"></a></a>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    <br>
    <br>
</center>


</body>
</html>


