<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1251"/>
    <title>Title</title>
</head>
<body>
<div th:insert="header"></div>


<center>

    <a th:href="@{/saveBlog}">Создать новый блог</a>
    <a th:href="@{/addBlog/{blogId}(blogId=${myBlog.getId()})}">Редактировать блог</a>
    <a th:href="@{/deliteBlog/{blogId}(blogId=${myBlog.getId()})}">Удалить блог</a>
    <p></p>

    <p><b>Название:</b></p>
    <p><textarea rows="1" cols="90" disabled th:text="${myBlog.getTitle()}"></textarea></p>
    <p><b>Содержание:</b></p>
    <p><textarea rows="20" cols="90" disabled th:text="${myBlog.getText()}"></textarea></p>

    <p><b>Дата:</b></p>
    <p><textarea rows="1" cols="20" disabled th:text="${myBlog.getCreationDate()}"></textarea></p>

</center>


</body>
</html>
