<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xml:lang="en" lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1251"/>
    <title>Title</title>
    <link href="//fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic" rel="stylesheet" type="text/css">
    <style type="text/css">

        p {
            margin-top: 0.0em; /* Отступ сверху */
            margin-bottom: 0.0em; /* Отступ снизу */
        }
    </style>
</head>
<body>
<div th:insert="header"></div>

<center>

    <a th:href="@{/saveBlog}" th:text="#{blog.create.a.new.blog}"></a>
    <p></p>


    <table border="1" width="30%" cellpadding="5">
        <thead>
        <tr>
            <th colspan="10"><p th:text="#{blog.my.blogs}"></p></th>
        </tr>
        </thead>
        <thead>
        <tr>
            <th colspan="1" th:text="#{blog.name}"></th>
            <th colspan="1" th:text="#{blog.date}"></th>
            <th colspan="1" th:text="#{blog.read.blog}"></th>
            <th colspan="1" th:text="#{blog.edit.blog}"></th>
            <th colspan="1" th:text="#{blog.delite.blog}"></th>


        </tr>
        </thead>
        <tbody>
        <tr th:each="a : ${findAllBlogsByUserName}">
            <td th:text="${a.getTitle()}"></td>
            <td th:text="${a.getCreationDate()}"></td>
            <td><a th:href="@{/readBlog/{blogId}(blogId=${a.getId()})}" th:text="#{blog.read.blog}"></a></td>
            <td><a th:href="@{/addBlog/{blogId}(blogId=${a.getId()})}" th:text="#{blog.edit.blog}"></a></td>
            <td><a th:href="@{/deliteBlog/{blogId}(blogId=${a.getId()})}" th:text="#{blog.delite.blog}"></a></td>
        </tr>
        </tbody>
    </table>

    <div class="paginator">
        <a th:each="a : ${numbers}">
            <a th:href="@{/blog/{pageId}(pageId=${a})}"> <span th:text="${(a)}"></span> </a>
        </a>
    </div>

</center>
</body>
</html>

