<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xml:lang="en" lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1251"/>
    <title>Title</title>
    <style type="text/css">
        TABLE {
            border-collapse: collapse; /* Убираем двойные линии между ячейками */
        }

        p {
            margin-top: 0.0em; /* Отступ сверху */
            margin-bottom: 0.0em; /* Отступ снизу */
        }
    </style>
</head>
<body>
<div th:insert="header"></div>

<center>

    <table border="1" width="30%" cellpadding="5">
        <thead>
        <tr>
            <th colspan="6"><p th:text="#{events}"></p></th>
        </tr>
        </thead>
        <thead>
        <tr>
            <th colspan="1" th:text="#{event.title}"></th>
            <th colspan="1" th:text="#{event.holding.date}"></th>
            <th colspan="1" th:text="#{event.open.event}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="a : ${allEvents}">
            <td th:text="${a.name}"></td>
            <td th:text="${a.holdingDate}"></td>
            <td><a th:href="@{/findEvent/{eventId}(eventId=${a.getId()})}" th:text="#{event.open.event}"></a></td>
        </tr>
        </tbody>
    </table>

</center>
</body>

</html>