<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

Вы зарегистрированы как:

<li><a th:href="@{/logout}">Выйти</a></li>
.
<li><a href="#" onclick="history.back();">Назад</a></li>
.
<li><a th:href="@{/mainPageUser}">Главная</a></li>
<li><a th:href="@{/blog}">Блог</a></li>
<li><a th:href="@{/profile}">Профайл</a></li>
<li><a th:href="@{/friend}">Друзья</a></li>
<li><a th:href="@{/message}">Сообшения</a></li>
<li><a th:href="@{/flashmob}">События</a></li>
<!--<li><a th:href="@{/admin}" th:if="${not user.empty}">Администратор</a></li>-->









