<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xml:lang="en" lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1251"/>
    <title>Title</title>
    <style type="text/css">
        TABLE {
            border-collapse: collapse; /* Убираем двойные линии между ячейками */
        }

        p {
            margin-top: 0.0em; /* Отступ сверху */
            margin-bottom: 0.0em; /* Отступ снизу */
        }
    </style>
</head>
<body>
<div th:insert="header"></div>

<center>

    <h4 th:text="#{event.new.event}"></h4>
    <form th:action="@{/saveFlashmob}" method="post">
        <p><b th:text="#{event.title}"></b></p>
        <p><textarea rows="1" cols="50" input type="text" id="name" name="name"></textarea></p>
        <p><b th:text="#{event.holding.date}"></b></p>
        <p><textarea rows="1" cols="50" input type="text" id="holdingDate" name="holdingDate"></textarea></p>
        <p><b th:text="#{event.about.event}"></b></p>
        <p><textarea rows="5" cols="50" input type="text" id="aboutEvent" name="aboutEvent"></textarea></p>
        <p><b th:text="#{event.type.event}"></b></p>
        <p></p>
        <select id="flashmobType" name="flashmobType">
            <option th:each="a : ${allFlashmobTypes}"
                    th:value="${a}"
                    th:text="${#strings.capitalize(#strings.toLowerCase(a))}"></option>
        </select>
        <p><input type="submit" th:value="#{save}"/></p>
    </form>

    <h3></h3>

    <table border="1" width="30%" cellpadding="5">
        <thead>
        <tr>
            <th colspan="6"><p th:text="#{events}"></p></th>
        </tr>
        </thead>
        <thead>
        <tr>
            <th colspan="1" th:text="#{event.title}"></th>
            <th colspan="1" th:text="#{event.holding.date}"></th>
            <th colspan="1" th:text="#{event.creation.date}"></th>
            <th colspan="1" th:text="#{event.open.event}"></th>
            <th colspan="1" th:text="#{event.edit.event}"></th>
            <th colspan="1" th:text="#{event.delite.event}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="a : ${allEvents}">
            <td th:text="${a.name}"></td>
            <td th:text="${a.holdingDate}"></td>
            <td th:text="${#temporals.format (a.getCreationDate(), 'dd-MM-yyyy HH:mm')}"></td>
            <td><a th:href="@{/findEvent/{eventId}(eventId=${a.getId()})}" th:text="#{event.open.event}"></a></td>
            <td><a th:href="@{/updateEvent/{eventId}(eventId=${a.getId()})}" th:text="#{event.edit.event}"></a></td>
            <td><a th:href="@{/deliteEvent/{eventId}(eventId=${a.getId()})}" th:text="#{event.delite.event}"></a></td>

        </tr>
        </tbody>
    </table>

</center>
</body>

</html>