<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/main.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1251"/>
    <title>Title</title>
</head>
<body>
<div th:insert="header"></div>

<center>

    <h2>Новое сообшение:</h2>
    <form th:action="@{/saveMessage/}" method="post">
        <p><b>Кому:</b></p>
        <p><textarea rows="1" cols="90" input type="text"
                     id="userReceiverName" name="userReceiverName"></textarea></p>
        <p><b>Сообшение:</b></p>
        <p><textarea rows="10" cols="90" input type="text" id="text" name="text"></textarea></p>
        <p><input type="submit" value="Отправить сообшение"/></p>
    </form>

</center>
</body>

</html>