<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xml:lang="en" lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1251"/>
    <title>Title</title>
    <style type="text/css">
        TABLE {
            border-collapse: collapse; /* Убираем двойные линии между ячейками */
        }

        p {
            margin-top: 0.0em; /* Отступ сверху */
            margin-bottom: 0.0em; /* Отступ снизу */
        }
    </style>
</head>
<body>
<div th:insert="header"></div>

<center>

    <a th:href="@{/saveMessage}" th:text="#{message.write.message}"></a>
    <p></p>

    <table border="1" width="30%" cellpadding="5">
        <thead>
        <tr>
            <th colspan="5"><p th:text="#{message.my.messages}"></p></th>
        </tr>

        <tbody>
        <tr th:each="x : ${names}">
            <td><a th:href="@{/openChat/{name}(name=${x})}" th:text="#{message.open.correspondence.with}"></a></td>
            <td th:text="${x}"
                th:if="${not x.empty}">
            </td>
        </tr>
        <tr>
            <td th:text="'нет информации'"
                th:if="${names.empty}">
            </td>
        </tr>
        </tbody>
    </table>

    <form th:action="@{/openChat}" method="post">
        <p><b th:text="#{message.open.correspondence.with}"></b></p>
        <p><textarea rows="1" cols="20" input type="text" id="userReceiverName" name="userReceiverName"></textarea></p>
        <p><input type="submit" th:value="#{message.open.correspondence}"/></p>
    </form>


</center>
</body>
</html>

