<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1251"/>
    <title>Title</title>
</head>
<body>
<div th:insert="header"></div>


<center>

    <table border="1" width="50%" cellpadding="5">
        <thead>
        <tr>
            <th colspan="1" th:text="#{profile}"></th>
            <td th:text="${userName}"></td>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td th:text="#{profile.about.me}"></td>
            <td th:text="${profile.get(0).aboutMe}"></td>
        </tr>

        <tr>
            <td th:text="#{birthday.day}"></td>
            <td th:text="${profile.get(0).birthday.dayOfBirth}"></td>
        </tr>

        <tr>
            <td th:text="#{birthday.month}"></td>
            <td th:text="${profile.get(0).birthday.monthOfBirth}"></td>
        </tr>

        <tr>
            <td th:text="#{birthday.year}"></td>
            <td th:text="${profile.get(0).birthday.yearOfBirth}"></td>
        </tr>

        <tr>
            <td th:text="#{gender}"></td>
            <td th:each="a : ${profile.get(0).gender}"
                th:value="${a}"
                th:text="${#strings.capitalize(#strings.toLowerCase(a))}"></td>
        </tr>

        <tr>
            <td th:text="#{country.home}"></td>
            <td th:text="${profile.get(0).homeAddress.country}"></td>
        </tr>

        <tr>
            <td th:text="#{city.home}"></td>
            <td th:text="${profile.get(0).homeAddress.city}"></td>
        </tr>

        </tr>
        <tr>
            <td th:text="#{country.work}"></td>
            <td th:text="${profile.get(0).workAddress.country}"></td>
        </tr>

        <tr>
            <td th:text="#{city.work}"></td>
            <td th:text="${profile.get(0).workAddress.city}"></td>
        </tr>

        <tr>
            <td th:text="#{profile.family.and.relationship}"></td>
            <td th:each="a : ${profile.get(0).maritalStatus}"
                th:value="${a}"
                th:text="${#strings.capitalize(#strings.toLowerCase(a))}"></td>
        </tr>
        </tbody>
    </table>

    <form th:action="@{/addProfile}" method="get">
        <tr>
            <td><input type="submit" th:value="#{profile.update}"></td>
        </tr>
    </form>

</center>


</body>
</html>