<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xml:lang="en" lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1251"/>
    <title>Title</title>
    <style type="text/css">
        TABLE {
            width: 70%; /* Ширина таблицы */
            border-collapse: collapse; /* Убираем двойные линии между ячейками */
        }

        p {
            margin-top: 0.0em; /* Отступ сверху */
            margin-bottom: 0.0em; /* Отступ снизу */
        }
    </style>
</head>
<body>
<div th:insert="header"></div>

<center>
    <table border="1" width="30%" cellpadding="5">
        <form th:action="@{/saveProfile}" method="post">
            <thead>
            <tr>
                <th colspan="2" th:text="#{enter.infornation}"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="#{profile.about.me}"></td>
                <td><input type="text" id="aboutMe" name="aboutMe"></td>
            </tr>

            <tr>
                <td th:text="#{birthday.day}"></td>
                <td>
                    <select id="dayOfBirth" name="dayOfBirth">
                        <option th:each="a : ${days}"
                                th:value="${a}"
                                th:text="${(a)}"></option>
                    </select>
                </td>
            </tr>

            <tr>
                <td th:text="#{birthday.month}"></td>
                <td><select id="monthOfBirth" name="monthOfBirth">
                    <option th:each="a : ${months}"
                            th:value="${a}"
                            th:text="${(a)}"></option>
                </select></td>
            </tr>

            <tr>
                <td th:text="#{birthday.year}"></td>
                <td><select id="yearOfBirth" name="yearOfBirth">
                    <option th:each="a : ${years}"
                            th:value="${a}"
                            th:text="${(a)}"></option>
                </select></td>
            </tr>


            <tr>
                <td th:text="#{gender}"></td>
                <td>
                    <select id="gender" name="gender">
                        <option th:each="a : ${allEnumGender}"
                                th:value="${a}"
                                th:text="${#strings.capitalize(#strings.toLowerCase(a))}"></option>
                    </select>
                </td>
            </tr>


            <tr>
                <td th:text="#{country.home}"></td>
                <td><input type="text" id="homeCity" name="homeCity"></td>
            </tr>

            <tr>
                <td th:text="#{city.home}"></td>
                <td><input type="text" id="homeCountry" name="homeCountry"></td>
            </tr>

            <tr>
                <td th:text="#{profile.family.and.relationship}"></td>
                <td>
                    <select id="maritalStatus" name="maritalStatus">
                        <option th:each="a : ${allEnumMaritalStatus}"
                                th:value="${a}"
                                th:text="${#strings.capitalize(#strings.toLowerCase(a))}"></option>
                    </select>
                </td>
            </tr>

            <tr>
                <td th:text="#{country.work}"></td>
                <td><input type="text" id="workCountry" name="workCountry"></td>
            </tr>
            <tr>
                <td th:text="#{city.home}"></td>
                <td><input type="text" id="workCity" name="workCity"></td>
            </tr>

            <tr>
                <td></td>
                <td><input type="submit" th:value="#{save}"></td>
            </tr>
            </tbody>
        </form>
    </table>


</center>

</body>
</html>